<html>
    <body>
        <table>
            <tr>
                <td>id</td>
                <td>titulo</td>
                <td>descricao</td>
                <td>preco</td>
            </tr>
            <%for(var i=0;i<lista.length;i++) {%>
                <tr>
                    <td><%=lista[i].id%></td>
                    <td><%=lista[i].titulo%></td>
                    <td><%=lista[i].descricao%></td>
                    <td><%=lista[i].preco%></td>
                    <td>
                        <form action="/produtos?_method=DELETE" method="post">
                            <input type="hidden" name="id" value="<%= lista[i].id %>" />
                            <input type="submit" value="Apaga" />
                        </form>
                    </td>
                </tr>
            <%}%>
            <tr>
            </tr>
        </table>
    </body>
</html>


